### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [13]:
#finding total count of SN column
count = purchase_data_df.groupby("SN")
count=len(count)

#set up new dataframe for this section
total_players_df = pd.DataFrame({"Total Players": [count]})

#display dataframe
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
#finding the unique items
item_name = purchase_data_df["Item ID"].unique()
item_name = len(item_name)

#finding the average price and formatting it
ave_price = round(purchase_data_df["Price"].mean(),2)
ave_price = "${:,.2f}".format(ave_price)

#finding the number of purchases 
num_purchases = purchase_data_df["Purchase ID"].count()

#finding the total revenue and formatting it
total_rev = sum(purchase_data_df["Price"])
total_rev = "${:,.2f}".format(total_rev)

#set up new dataframe for this section
display_df = pd.DataFrame({"Number of Unique Items": [item_name],
                       "Average Price" : [ave_price],
                       "Number of Purchases" : [num_purchases],
                       "Total Revenue" : [total_rev]})
#display dataframe
display_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [78]:
#drop duplicate users to get the total count
drop_duplicate_users = purchase_data_df.drop_duplicates(subset="SN")

#group total users by gender
gender_group = drop_duplicate_users.groupby("Gender")
gender_group = gender_group["Gender"].count()

#get count for male, female, and other
female_count = gender_group["Female"]
male_count = gender_group["Male"]
other_count = gender_group["Other / Non-Disclosed"]

#get total count to find the percentage
total = male_count+female_count+other_count

#get percent for each set
female_percent = female_count/total
male_percent = male_count/total.
other_percent = other_count/total

#set up new dataframe
gender_demographics = pd.DataFrame({"":["Male","Female","Other / Non-Disclosed"],
                                    "Total Count" : [male_count,female_count,other_count],
                                   "Percentage of Players":[male_percent,female_percent,other_percent]})
#set percentage column format
format_dict = {'Percentage of Players': '{:.2%}'}

#set the index
gender_demographics=gender_demographics.set_index("")

#display new dataframe
gender_demographics.style.format(format_dict)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame