### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [35]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [36]:
#set up group by name
count = purchase_data_df.groupby("SN")

#set variable for length of names in index
count=len(count)

#set up new df
total_players_df = pd.DataFrame({"Total Players": [count]})

#display df
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
#finding the unique items
item_name = purchase_data_df["Item ID"].unique()

#set variable for length of item index
item_name = len(item_name)

#set variable fo average price and formatting it
ave_price = round(purchase_data_df["Price"].mean(),2)
ave_price = "${:,.2f}".format(ave_price)

#set variable for the number of purchases 
num_purchases = purchase_data_df["Purchase ID"].count()

#set vaiable for total revenue and formatting it
total_rev = sum(purchase_data_df["Price"])
total_rev = "${:,.2f}".format(total_rev)

#set up new df
display_df = pd.DataFrame({"Number of Unique Items": [item_name],
                       "Average Price" : [ave_price],
                       "Number of Purchases" : [num_purchases],
                       "Total Revenue" : [total_rev]})
#display df
display_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [38]:
#drop duplicate users to get the total count
drop_duplicate_users = purchase_data_df.drop_duplicates(subset="SN")

#group total users by gender and get count
gender_group = drop_duplicate_users.groupby("Gender")
gender_group = gender_group["Gender"].count()

#set variable for male, female, and other
female_count = gender_group["Female"]
male_count = gender_group["Male"]
other_count = gender_group["Other / Non-Disclosed"]

#set variable for total count to find the percentage
total = male_count+female_count+other_count

#set variable for percent for each set
female_percent = female_count/total
male_percent = male_count/total
other_percent = other_count/total

#set up new df
gender_demographics = pd.DataFrame({"":["Male","Female","Other / Non-Disclosed"],
                                    "Total Count" : [male_count,female_count,other_count],
                                   "Percentage of Players":[male_percent,female_percent,other_percent]})
#set the index
gender_demographics=gender_demographics.set_index("")

#display new df and set format for percent column
gender_demographics.style.format({'Percentage of Players': '{:.2%}'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [46]:
#group total users by gender
group_gender = purchase_data_df.groupby("Gender")
group_gender_count = group_gender["Gender"].count()

#set variable for male, female, and other count
female_count1 = group_gender_count["Female"]
male_count1 = group_gender_count["Male"]
other_count1 = group_gender_count["Other / Non-Disclosed"]

#finding the average price and format it
ave_price1 = round(group_gender["Price"].mean(),2)
female_ave = ave_price1["Female"]
female_ave = "${:,.2f}".format(female_ave)
male_ave = ave_price1["Male"]
male_ave = "${:,.2f}".format(male_ave)
other_ave = ave_price1["Other / Non-Disclosed"]
other_ave = "${:,.2f}".format(other_ave)

#finding the sum price and format it
sum_price1 = group_gender["Price"].sum()
female_sum = sum_price1["Female"]
female_sum_format = "${:,.2f}".format(female_sum)
male_sum = sum_price1["Male"]
male_sum_format = "${:,.2f}".format(male_sum)
other_sum = sum_price1["Other / Non-Disclosed"]
other_sum_format = "${:,.2f}".format(other_sum)

#finding the Avg Total Purchase per Person
female_ave_t = female_sum/female_count
female_ave_t_format = "${:,.2f}".format(female_ave_t)
male_ave_t = male_sum/male_count
male_ave_t_format = "${:,.2f}".format(male_ave_t)
other_ave_t = other_sum/other_count
other_ave_t_format = "${:,.2f}".format(other_ave_t)

#set up new df
gender_analysis = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],
                               "Purchase Count" : [male_count1,female_count1,other_count1],
                               "Average Purchase Price":[male_ave,female_ave,other_ave],
                               "Total Purchase Value" : [male_sum_format,female_sum_format,other_sum_format],
                               "Avg Total Purchase per Person" : [male_ave_t_format,female_ave_t_format,other_ave_t_format]})

#set the index
gender_analysis=gender_analysis.set_index("Gender")

gender_analysis = gender_analysis.sort_values("Gender")

#display df
gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [40]:
#set up group by age
group_age = drop_duplicate_users.groupby("Age")

#set variable for count of each age
group_age_count = group_age["Age"].count()

#set up new df
df = pd.DataFrame(group_age_count)
df1 = pd.DataFrame({"": df.index,
                   "Age Count": group_age_count})
#list of labels
new_index = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#set up bin
bins = pd.cut(df1[''], [0, 9, 14, 19, 24, 29, 34, 39, 1000],labels=new_index)

#group total counts by bins (age dementions listed under bins variable)
df1 = df1.groupby(bins)['Age Count'].agg(['sum'])

#renamed column
df1 = df1.rename(columns = {"sum":"Total Count"})

#set up new df with percent column
df2= pd.DataFrame({"Total Count":df1["Total Count"],
                   "Percentage of Players" : (df1["Total Count"]/drop_duplicate_users["Age"].count())})

#display df and format percent column
df2.style.format({'Percentage of Players': '{:.2%}'})

# Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [41]:
#set up group by age
group_age = purchase_data_df.groupby("Age")
group_age_dd = drop_duplicate_users.groupby("Age")

#set variable for count of age
group_age_count = group_age["Age"].count()
group_age_count1 = group_age["Price"].sum()
group_age_count2 = group_age_dd["Price"].sum()

#set up new df
df = pd.DataFrame(group_age_count)
dfa = pd.DataFrame({"Age Ranges": df.index,
                   "Age Count": group_age_count,
                   "Average Purchase Price" : group_age_count1,
                   "Avg Total Purchase per Person" : group_age_count2})
#list of labels
new_index = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#set up bins
bins = pd.cut(dfa['Age Ranges'], [0, 9, 14, 19, 24, 29, 34, 39, 100],labels=new_index)

#group total counts by bins (age dementions listed under bins variable)
df23 = dfa.groupby(bins)['Age Count'].agg(['sum'])
df22 = dfa.groupby(bins)['Average Purchase Price'].agg(['sum'])

#renamed column
df23 = df23.rename(columns = {"sum":"Purchase Count"})

#set up new df with percent column
df2= pd.DataFrame({"Purchase Count":df23["Purchase Count"],
                  "Average Purchase Price" : (df22["sum"])/(df23["Purchase Count"]),
                  "Total Purchase Value" : df22["sum"],
                  "Avg Total Purchase per Person" : (df22["sum"])/(df1["Total Count"])})

#display df and set formatting
df2.style.format({'Average Purchase Price': '${:,.2f}',
                 'Total Purchase Value': '${:,.2f}',
                 'Avg Total Purchase per Person': '${:,.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [42]:
#set up group by name
sn_df = purchase_data_df.groupby("SN")

#set variable for average and total purchase values
sum_df = sn_df["Price"].sum()
ave_df = round(sn_df["Price"].mean(),2)

#set variable for purchase count
pc_df = sn_df["Purchase ID"].count()

#set up new df
ndf = pd.DataFrame({"SN": pc_df.index,
                    "Purchase Count" : pc_df,
                   "Average Purchase Price" : ave_df,
                   "Total Purchase Value" : sum_df})

#sort new df
ndf = ndf.sort_values("Total Purchase Value", ascending=False)

#format currency columns
ndf["Average Purchase Price"] = ndf["Average Purchase Price"].map("${:,.2f}".format)
ndf["Purchase Count"] = ndf["Purchase Count"].map("{:,}".format)
ndf["Total Purchase Value"] = ndf["Total Purchase Value"].map("${:,.2f}".format)

#set the index
ndf = ndf.set_index("SN")

#display df
ndf.head()

            Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                5                  $3.79               $18.96
Idastidru52              4                  $3.86               $15.45
Chamjask73               3                  $4.61               $13.83
Iral74                   4                  $3.40               $13.62
Iskadarya95              3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [43]:
#set up group by item id and name
item = purchase_data_df.groupby(["Item ID","Item Name"])

#set variable for purchase count, price, and total value
item_count_id1 = item["Item ID"].count()
item_total_price = item["Price"].sum()
item_price = item_total_price/item_count_id1

#set up df
df_mp = pd.DataFrame({"Purchase Count" : item_count_id1,
                      "Item Price" : item_price,
                     "Total Purchase Value" : item_total_price})

#sort df
df_mp_sort1 = df_mp.sort_values(by="Purchase Count", ascending=False)

#display df
df_mp_sort1.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [44]:
#use df from previous set and sort by total purchase value in descending order
df_mp_sort2 = df_mp.sort_values(by=["Total Purchase Value", "Purchase Count"], ascending=False)

#display df
df_mp_sort2.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80