### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [3]:
#finding total count of SN column
count = purchase_data_df.groupby("SN")
count=len(count)

#set up new dataframe for this section
total_players_df = pd.DataFrame({"Total Players": [count]})

#display dataframe
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#finding the unique items
item_name = purchase_data_df["Item ID"].unique()
item_name = len(item_name)

#finding the average price and formatting it
ave_price = round(purchase_data_df["Price"].mean(),2)
ave_price = "${:,.2f}".format(ave_price)

#finding the number of purchases 
num_purchases = purchase_data_df["Purchase ID"].count()

#finding the total revenue and formatting it
total_rev = sum(purchase_data_df["Price"])
total_rev = "${:,.2f}".format(total_rev)

#set up new dataframe for this section
display_df = pd.DataFrame({"Number of Unique Items": [item_name],
                       "Average Price" : [ave_price],
                       "Number of Purchases" : [num_purchases],
                       "Total Revenue" : [total_rev]})
#display dataframe
display_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
#drop duplicate users to get the total count
drop_duplicate_users = purchase_data_df.drop_duplicates(subset="SN")

#group total users by gender
gender_group = drop_duplicate_users.groupby("Gender")
gender_group = gender_group["Gender"].count()

#get count for male, female, and other
female_count = gender_group["Female"]
male_count = gender_group["Male"]
other_count = gender_group["Other / Non-Disclosed"]

#get total count to find the percentage
total = male_count+female_count+other_count

#get percent for each set
female_percent = female_count/total
male_percent = male_count/total
other_percent = other_count/total

#set up new dataframe
gender_demographics = pd.DataFrame({"":["Male","Female","Other / Non-Disclosed"],
                                    "Total Count" : [male_count,female_count,other_count],
                                   "Percentage of Players":[male_percent,female_percent,other_percent]})
#set the index
gender_demographics=gender_demographics.set_index("")

#display new dataframe and set format for percent column
gender_demographics.style.format({'Percentage of Players': '{:.2%}'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [52]:
#group total users by gender
group_gender = purchase_data_df.groupby("Gender")
group_gender_count = group_gender["Gender"].count()

#get count for male, female, and other
female_count1 = group_gender_count["Female"]
male_count1 = group_gender_count["Male"]
other_count1 = group_gender_count["Other / Non-Disclosed"]

#finding the average price and formatting it
ave_price1 = round(group_gender["Price"].mean(),2)
female_ave = ave_price1["Female"]
female_ave = "${:,.2f}".format(female_ave)
male_ave = ave_price1["Male"]
male_ave = "${:,.2f}".format(male_ave)
other_ave = ave_price1["Other / Non-Disclosed"]
other_ave = "${:,.2f}".format(other_ave)

#finding the sum price and formatting it
sum_price1 = group_gender["Price"].sum()
female_sum = sum_price1["Female"]
female_sum_format = "${:,.2f}".format(female_sum)
male_sum = sum_price1["Male"]
male_sum_format = "${:,.2f}".format(male_sum)
other_sum = sum_price1["Other / Non-Disclosed"]
other_sum_format = "${:,.2f}".format(other_sum)

#finding the Avg Total Purchase per Person
female_ave_t = female_sum/female_count
female_ave_t_format = "${:,.2f}".format(female_ave_t)
male_ave_t = male_sum/male_count
male_ave_t_format = "${:,.2f}".format(male_ave_t)
other_ave_t = other_sum/other_count
other_ave_t_format = "${:,.2f}".format(other_ave_t)

#set up new dataframe
gender_analysis = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],
                               "Purchase Count" : [male_count1,female_count1,other_count1],
                               "Average Purchase Price":[male_ave,female_ave,other_ave],
                               "Total Purchase Value" : [male_sum_format,female_sum_format,other_sum_format],
                               "Avg Total Purchase per Person" : [male_ave_t_format,female_ave_t_format,other_ave_t_format]})

#set the index
gender_analysis=gender_analysis.set_index("Gender")

#display new dataframe
gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame